.Car1 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1.5fr 2fr;
  column-gap: 15px;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 30px;
}

.car-image-container {
  display: grid;
  align-items: center;
  justify-content: center;
}

.car-image {
  width: 230px;
  height: 150px;
  /* object-fit: contain; */
  border-radius: 3px;
}

.car-company {
  margin: 0;
}

.car-model {
  margin: 0;
  margin-bottom: 10px;
  color: #dcdcdc;
}

.car-features {
  padding: 10px;
  color: #dcdcdc;
}

.feature {
  margin-bottom: 5px;
}

.fuel-type-icon,
.transmission-icon,
.seats-icon,
.ac-icon,
.rating-icon {
  margin: 0 10px;
}

.model-year {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  margin-top: 20px;
  color: #dcdcdc;
}

/* .rental-trips-taken {
      text-align: center;
    } */

.car-features {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 3fr 1fr;
}

.price-container {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  text-align: end;
}

.price-perday-text {
  margin: 0;
}

.cost {
  margin: 0;
}

.book-btn {
  background-color: #068323;
  outline: none;
  border: none;
  width: 100%;
  font-size: larger;
  border-radius: 8px;
  text-align: center;
  color: white;
  padding: 5px;
}

.book-btn:hover {
  background-color: #0d6521;
  cursor: pointer;
}

.GreatChoice-points {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.divider {
  background-color: rgb(82, 82, 82);
  height: 1px;
  border: 0;
  margin: 40px 0px;
}

.tick-icon {
  position: relative;
  top: 2px;
  margin-right: 2px;
}
