.PickUpDropOffForm {
  margin-bottom: 20px;
}

.pick-drop-form-container {
  background-color: #ffb700;
  border-radius: 8px;
  color: black;
  display: grid;
  align-items: center;
}

.pick-drop-form-container h2 {
  margin: 20px 20px 0px 20px;
}

.pick-drop-form {
  margin: 20px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 8fr 1fr;
  column-gap: 10px;
}

.pick-drop-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.intro-card {
  margin-left: 20px;
}

.label-input {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  margin-bottom: 5px;
  align-items: center;
}

.label-input-input {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  margin-bottom: 5px;
  align-items: center;
}

.search-btn {
  background-color: #008000;
  color: white;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.search-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-form-input {
  -webkit-appearance: none;
  border: none;
  border-radius: 2px;
  padding: 5px 5px;
  font-size: 1rem;
  font-weight: 500;
  color: #494949;
}

.intro-form-input:focus {
  border: none;
  outline: none;
}
