.Header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 4fr 1.5fr 0.5fr 0.5fr 0.5fr;
}

.logo-name {
  font-size: 2.25rem;
  margin: 20px 0px;
}

.logo-name > span {
  cursor: pointer;
}

.logo-name a {
  font-family: "Lobster", cursive;
  text-decoration: none;
  color: #ff9100;
}
.search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fleet,
.about,
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fleet a,
.about a,
.contact a {
  text-decoration: none;
  color: white;
}

.fleet a:hover,
.about a:hover,
.contact a:hover {
  color: rgb(207, 207, 207);
}

.search-car-text {
  margin-right: 7px;
}

.search-input {
  border: none;
  background-color: #2a2834;
  border-bottom: 1px solid white;
  outline: none;
  caret-color: white;
}

.search-icon {
  cursor: pointer;
}
