@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;900&display=swap");
/* FONTS -
font-family: 'Roboto', sans-serif;
font-family: 'Lobster', cursive; 
*/
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2a2834;
  letter-spacing: 1px;
  color: white;
}

::selection {
  color: white;
  background: #ff9100;
}
